/* ----------------------------------------------------------------------------------------
* Author        : Designcarebd
* Template Name : Stamina | One Page Multipurpose Html Template
* File          : Stamina Responsive CSS file
* Version       : 1.0
* ---------------------------------------------------------------------------------------- */



/* Medium Layout */

@media only screen and (min-width: 992px) and (max-width: 1200px) {


   
}


/* Tablet Layout */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
	.navbar-nav li a {
        padding: 15px 5px;
    }
	
    .home-services .service-box,
    .team-member,
    .single-item-table,
    .single-news {
        margin-bottom: 30px;
    }
	
    .action-area .btn {
        margin-top: 15px;
    }
	
	.about-img img {
		margin-bottom: 30px;
		width: 100%;
	}
	
	.navbar-nav li a {
		padding-left: 10px;
	}
	
	.tab-margin-bottom {
		margin-bottom: 50px;
	}
	
	
	
}


/* Mobile Layout */

@media only screen and (max-width: 767px) {
    
    .section-big {
        padding: 50px 0px;
    }
    
    .section-title {
        margin-bottom: 50px;
    }
	
    .section-title h2 {
        line-height: 45px;
    }

    .btn, input[type='submit'] {
        margin-bottom: 0px;
        padding: 8px 20px;
    }
	
    img {
        max-width: 100%;
    }
    
	/* counter css */
	.quote-text h3 {
		margin-bottom: 20px;
	}
	
    .navbar-toggle {
        margin-right: 0px;
    }
	
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        background: #fff;
    }
	
    .navbar {
        min-height: 0px;
    }
	
    .mainmenu .navbar-nav {
        margin: 0;
		margin-top: 5px;
    }
	
    .mainmenu .navbar-nav li {
        float: none;
        display: block;
    }
	
    .mainmenu .navbar-nav li a {
        padding: 8px 15px;
        color: inherit;
    }
	
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        margin: 0 -15px;
        padding: 0;
        box-shadow: 0px 3px 5px 0px #999;
    }
	
	.intro-text h2 {
		font-size: 25px;
		line-height: 40px;
		margin-bottom: 15px;
	}
	
	.welcome-control {
		font-size: 20px;
		height: 40px;
		line-height: 35px;
		width: 40px;
	}

	.about-img img {
		margin-bottom: 30px;
		width: 100%;
	}
	
	.about-text h3 {
		margin-top: 0px;
	}
	
    .work-items .item {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
    }

    .home-services .service-box,
    .team-member,
    .single-item-table,
    .single-news {
        margin-bottom: 30px;
    }
	
    .filters li {
        margin: 0px 10px;
    }
	
    .section-title h2 {
        font-size: 30px;
    }
	
    .action-area .btn {
        margin-top: 15px;
    }

    .price-item p.level {
        margin-bottom: 60px;
    }
	
    .price-item p.price {
        padding-bottom: 20px;
    }
	
    .price-item a.btn {
        display: inline-block;
    }
	
	.owl-client .item img {
		padding: 0 2px;
	}
	
	.fun-facts-area{
		padding-bottom: 25px;
	}
	
	.fun-fact{
       padding-bottom: 25px;
    }
	
	.top-bar {
		height: 85px;
		line-height: 40px;
		text-align: center;
	}
	
	.top-contact-info {
		float: none;
	}
	
	.top-social {
		float: none; 
	}
	
	.space {
		height: 110px;
	}
	
	.menu-area.navbar-fixed-top {
		top: 85px;
	}
	
	.single-testimonial {
		text-align: center;
	}
	
	.single-testimonial img {
		margin: auto;
		display: table;
		float: none;
	}
	
	.single-testimonial i.fa {
		margin-top: 10px;
	}
	
	.right.welcome-control {
		left: auto;
		right: 15px;
	}
	
	.left.welcome-control {
		left: 15px;
	}
	
	
	
}


/* Small Mobile Layout */

@media only screen and (max-width: 480px) {
    
	.intro-text h2 {
		font-size: 18px;
		line-height: 27px;
		margin-top: 40px;
	}
	
	.welcome-control {
		display:none;
	}
	
	.intro-text .title {
		padding: 5px 30px;
	}
	
	.intro-text .btn {
		margin-right: 10px;
		padding: 3px 10px;
		font-size: 18px;
		margin-bottom: 5px;
	}
	
	.single-testimonial img {
        max-width: 100%;
        margin-bottom: 15px;
    }
	
    .single-testimonial i.fa {
        margin-bottom: 15px;
    }
	
	.top-contact-info span {
		margin-right: 3px;
		padding: 2px 4px;
		font-size: 12px;
		
	}
	
	.top-bar {
		line-height: 38px;
		font-size: 10px;
		text-align: center;
	}
	
	.top-social a i.fa {
		font-size: 12px;
	}
	
	.top-contact-info a {
		color: #fff;
		margin-right: 5px;
	}
	
	.news-meta span {
		margin-right: 5px;
	}
	
	.comments ul li .comment-box img {
		float: none;
	}
	
	.comments ul li .comment-box .comment-content {
		margin-left: 0px; 
		margin-top: 10px;
	}
	
	.comments ul.depth .comment-box {
		padding-left: 0px;
	}
	
	
}
