/* ----------------------------------------------------------------------------------------
* Author        : Designcarebd
* Template Name : Stamina | One Page Multipurpose Html Template
* File          : Stamina main CSS file
* Version       : 1.0
* ---------------------------------------------------------------------------------------- */



/* INDEX
----------------------------------------------------------------------------------------

01. General css

02. Navigation area css

03. Slider area css

04. About area css

05. Service area css

06. Portfolio/work area css

07. Team Area Css

08. Counter area css

09. Faq area css 

10. Pricing area css

11. Testimonial area css

12. News area css

13. Clients area css

14. Contact area css

15. Google map area css

16. Footer area css

17. Scroll-to-top area css

-------------------------------------------------------------------------------------- */


/* Google Fonts lato and open sans */
@import url('https://fonts.googleapis.com/css?family=Lato:300,700,900|Open+Sans');



/* ----------------------------------------------------------------------------------------
*                                       01. General css
* -------------------------------------------------------------------------------------- */

html,
body {
    height: 100%
}

body {
    color: #333;
    font-weight: 400;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #333;
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 20px;
	color: #333;
}

a {
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.btn, input[type='submit'] {
    display: inline-block;
    background: transparent;
    padding: 10px 25px;
    font-weight: 300;
    border-radius: 0px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    color: #fff;
    background: #0f8bcf;
    border: none;
    font-family: 'Lato';
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn:hover, input[type='submit']:hover {
    color: #fff;
    background: #333;
}

.btn.btn-trnsp {
    background: transparent;
    border: 1px solid #0f8bcf;
    color: #0f8bcf;
}

.btn-big {
    border: 2px solid #0095b6;
    font-weight: 900;

}

.btn.btn-trnsp:hover {
	border-color: #0095b6;
	background: #0095b6;
	color: #fff;
}

.section-big {
    padding: 85px 0px;
}

.section-small {
    padding: 50px 0px;
}

.section-title {
    margin: auto;
    max-width: 700px;
    margin-bottom: 60px;
}

.section-title.white h2 {
    color: #fff;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    position: relative;
    line-height: 25px;
    margin-top: 0;
    text-transform: uppercase;
}

.section-title h2 span {
    color: #82b541;
}

.section-title p {
    margin-top: 25px;
}

/* preloader css */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-image: url(../img/preloader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

img {
    max-width: 100%;
}


/* ----------------------------------------------------------------------------------------
*                               02. Navigation area css
* --------------------------------------------------------------------------------------- */
.top-bar {
    position: relative;
    margin-bottom: -50px;
    height: 50px;
    line-height: 50px;
    z-index: 2;
    color: #ffffff;
    background:#333;
    overflow: hidden;
}

.top-contact-info {
    float: left;
    font-size: 14px;
}

.top-contact-info span {
    margin-right: 5px;
    font-size: 16px;
    border-radius: 2px
}

.top-contact-info a{
	color: #fff;
	margin-right: 20px;
	
}

.top-social{
	float: right;
}

.top-social a i.fa {
    font-size: 14px;
    margin-right: 5px;
    color: #fff;
    padding: 0px 5px;
}

.top-social a i.fa:hover {
    color: #0f8bcf;
}

.menu-area.navbar-fixed-top {
    background: #fff;
    top: 50px;
    height: 95px;
}

.menu-area.navbar-fixed-top.sticky-menu {
    top: 0px;
    height: 65px;
}

.sticky-menu {
    box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
.mainmenu {
    padding-top: 10px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.sticky-menu .mainmenu {
    padding-top: 0px;
}

.navbar {
    margin-bottom: 0;
    border: 0px;
    margin-top: 13px;
}

.sticky-menu .navbar {
    margin-top: 8px;
}

.navbar-brand {
    padding: 0;
    margin-top: 3px;
}

.navbar-brand img {
	transition: 0.3s ease-out;
	-webkit-transition: 0.3s ease-out;
}

.sticky-menu .navbar-brand img {
    display: block;
    max-width: 180px;
}

.navbar-brand:hover {
    color: #82b541;
}

.navbar-nav  li {
    display: block;
	position:relative;
}

.navbar-nav li a {
    color: #333333;
    font-weight: 900;
    font-family: 'Lato';
    font-size: 14px;
}

.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
    background: none;
}

.mainmenu .navbar-nav li.active a {
    color: #0f8bcf;
}

/*Dropdown Css*/
.navbar-nav > li.dropdown:hover > a, 
.navbar-nav > li.dropdown:hover > a:hover,
.navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}

@media (min-width: 768px) {
    li.dropdown:hover > .dropdown-menu {
        display: block;
    }
}

.navbar-nav .dropdown-menu li a {
    padding: 10px;
}

/* Mobile Nav css */
.navbar-toggle .icon-bar {
    background: #0f8bcf;
}


.space{height: 145px;}

/* ----------------------------------------------------------------------------------------
*                               03. Slider area css
* -------------------------------------------------------------------------------------- */

/* Home carseoul
--------------------------- */
#slider,
#slider .carousel,
#slider .carousel .carousel-inner,
#slider .carousel .carousel-inner .item
{
    height: 100%;
    min-height: 400px;
    max-height: 570px;
}

#slider .main-container {
	padding: 0;
}

#slider .carousel-indicators {
    right: 20px;
    left: auto;
    width: 80px;
}

#slider .carousel-indicators li {
    width: 12px;
    height: 12px;
    border: 1px solid #0f8bcf;
    border-radius: 0px;
    background: transparent;
    margin: 0px;
    margin-left: 7px;
}

#slider .carousel-indicators li.active {
    background: #0f8bcf;
}

#slider .carousel-control.right,
#slider .carousel-control.left {
	background-image: none;
}

#slider .carousel .item {
	min-height: 425px;
	height: 100%;
	width:100%;
}

#slider .carousel .item:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#slider .carousel-control {
    width: 6%;
    text-shadow: none;
}

.carousel-fade .carousel-inner .item {
	transition-property: opacity;
	-ms-transition-property: opacity;
	-moz-transition-property: opacity;
	-webkit-transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
	z-index: 2;
}

.right.carousel-control img,
.left.carousel-control img {
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	margin-top: -26px;
	padding: 20px 10px;
}
.carousel-control img:hover  {
	background: #82b541;
}

.left.carousel-control img {
    left: 10px;
}

.right.carousel-control img {
    right: 10px;
}

.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}

a.welcome-control:hover i,
a.welcome-control:focus {
    color: #0f8bcf;
}

.welcome-control {
    background: transparent none repeat scroll 0 0 !important;
    border: 1px solid #fff;
    color: #fff;
    font-size: 24px;
    height: 50px;
    left: 0;
    line-height: 45px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    z-index: 20;
}

.right.welcome-control {
    left: auto;
    right: 25px;
}

.left.welcome-control {
    left: 25px;
}

.intro-text {
    text-align: center;
    padding-top: 10px;
    max-width: 940px;
    margin: auto;
}

.intro-text .title {
    text-align: center;
    display: table;
    margin: auto;
    padding: 30px 80px;
}

.intro-text h2 {
    font-size: 35px;
    line-height: 55px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
	margin-bottom: 15px;
}

@media (max-width: 991px) {
	.intro-text h2 {
	line-height: 60px;
	margin-bottom: 20px;
	}
}

.intro-text p {
	color:#fff;
}

.intro-text .btn{
	margin-right: 20px;
	border-color: #fff;
    color: #fff;
}
.intro-text .btn:hover{
	background-color: #0f8bcf;
	border-color: #0f8bcf;
}

a.btn.btn-trnsp.btn-big.current{
    background-color: #0f8bcf;
	border-color: #0f8bcf;
}

a.btn.btn-trnsp.btn-big.current:hover{
    background: transparent;
	border-color: #fff;
}



/* Slide Background Image */
#slider .slide1 {
    background-image: url(../img/slider/01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#slider .slide2 {
    background-image: url(../img/slider/02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#slider .slide3 {
    background-image: url(../img/slider/03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* ----------------------------------------------------------------------------------------
*                               04. About area css
* ---------------------------------------------------------------------------------------*/

.about-area {}

.about-text h3 {
	margin-top: 0px
}

.about-text ul {
    margin-top: 10px;
    margin-left: 30px;
    list-style: none;
}

.about-text ul li {
    line-height: 30px;
    position: relative;

}

.about-text ul li:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    left: -30px;
    top: 50%;
    margin-top: -5px;
    border: 2px solid #333;
    border-radius: 50px;
}

.about-text .btn {
    margin-top: 15px;
}



/* ----------------------------------------------------------------------------------------
*                                   05. Service area css
* --------------------------------------------------------------------------------------- */

.service-area {
    background-color: #f5f5f5;
    padding-bottom: 55px;
}

.home-services .service-box {
    padding: 15px 30px;
    margin-bottom: 30px;
    text-align: center;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.home-services .service-box i.fa {
    color: #0f8bcf;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 50px;
}

.home-services .service-box h3 {
    margin-top: 0;
    position: relative;
    margin-bottom: 15px;
}


/* ----------------------------------------------------------------------------------------
*                               06. Portfolio/work area css
* --------------------------------------------------------------------------------------- */
.works {}

.portfolio .mix {
    display: none;
}

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
}

.filters li {
    display: inline-block;
    margin: 0px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}

.filters li.active {
    color: #0f8bcf;
}

.work-items .item {
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}

.work-items .item img {
    width: 100%;
    transition: 0.8s ease-out;
}

.work-items .overlay{
    background-color: rgba(0, 0, 0, 0.60);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    text-align: center;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -ms-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -moz-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -webkit-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.work-items .item:hover .overlay {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.work-items .item:hover img {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.work-items .overlay i.fa {
    font-size: 36px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;    
    padding: 20px;
    transform: translate(-50%, -50%);
}



/* ----------------------------------------------------------------------------------------
*                                08. Team area css
* --------------------------------------------------------------------------------------- */
.team-member{
    overflow: hidden;
	position: relative;
}


.designation {
    text-align: center;
    padding-top: 10px;
}

.designation h3 {
    margin-bottom: 5px;
    color: #333;
    margin-top: 0px;
}

.team-photo img{
	width:100%;
}

.team-hover ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.team-hover ul li {
    display: inline-block;
}

.team-hover i.fa {
    font-size: 18px;
    width: 35px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    margin: 0px;
    color: #fff;
    margin-bottom: 2px;
    text-align: center;
}

.team-hover i.fa:hover{
	color: #333;
}

.team-hover {
	text-align: center;
    position: absolute;
    bottom: 60px;
	left: 0;
	height: 0;
	opacity: 0;
    background: #0f8bcf;
    width: 100%;
    padding: 6px 0px;
	transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}

.team-member:hover .team-hover{
	opacity: 1;
	height: 40px;
}



/* ----------------------------------------------------------------------------------------
*                                   08. Fun facts area css
* --------------------------------------------------------------------------------------- */
.fun-facts-area{
    background-image: url(../img/bg/counter-bg.jpeg);
    background-size: cover;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
	
}

.fun-facts-area:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.60);
}

#fun-facts{
	background-color: #339966;
	color:#fff
}

.fun-fact i.fa {
    font-size: 48px;
    position: relative;
    display: block;
}

.fun-fact h3 {
    font-size: 36px;
    font-weight: 900;
	color: #fff;
}
.fun-fact p {}




/* ----------------------------------------------------------------------------------------
*                                14. Subscribe area css
* --------------------------------------------------------------------------------------- */
.subscribe-area {
    background-color: #f1f1f1;
}

.subscribe-box {
    margin-top: 10px;
}

.subscribe-box h2 {
    margin-top: 0px;
    font-size: 22px;
}
.subscribe-box h2 span {
    color: #82b541;
}

.newsletter-form {
    margin: auto;
}

.newsletter-form input{
    display: inline-block;
    height: 50px;
    width: 80%;
    padding: 5px 10px;
    background: #fff;
    float: left;
}

.newsletter-form .mc-submit {
    height: 50px;
    width: 20%;
    font-weight: bold;
    color: #fff;
    background-color: #0f8bcf;
    border: none;
    font-size: 24px;
    position: relative;
    display: inline-block;
    float: left;
    text-align: center;
}

.newsletter-form .mc-submit:hover {
    color: #000;
}

.subscribe-area .error {
    text-align: left;
}

.mailchimp-alerts {
    display: block;
    width: 100%;
    text-align: left;
}

.mailchimp-success{
    color: green;
}

.mailchimp-error{
    color: red;
}




/* ----------------------------------------------------------------------------------------
*                                   09. Pricing area css
* --------------------------------------------------------------------------------------- */
.pricing-area {
	background: #fff;
}

.single-item-table {
    background: #fff;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.table-heading {
    background: #F5F5F5;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Lato';
    line-height: 80px;
    text-transform: uppercase;
}

.table-heading p{
    margin: 0;
}

.rate {
    line-height: 100px;
    border-bottom: 1px solid #eee;
}

.rate .number {
	font-size: 36px;
    font-weight: 900;
    font-family: 'Lato';
}

.description{
    margin: 0px;
}

.description ul {
    margin-left: 0;
    list-style: none;
}

.description li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.designation p {
    margin-bottom: 0px;
}

.single-item-table a.btn {
    margin-top: 17px;
}

.single-item-table .premium {
    color: #fff;
	background: #0f8bcf;
}




/* ----------------------------------------------------------------------------------------
*                                09. Testimonial area css
* --------------------------------------------------------------------------------------- */
.testimonial-area {
    background-color: #888;
    background-image: url(../img/bg/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    color: #fff;
}

.testimonial-area:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.60);
}

.single-testimonial {
    padding: 0px 30px;
    max-width: 800px;
    margin: auto;
}

.single-testimonial i.fa {
    font-size: 40px;
    margin-bottom: 30px;
    display: inline-block;
    color: #0f8bcf;
}

.single-testimonial p {
    line-height: 27px;
    font-size: 18px;
}

.single-testimonial img {
    margin-top: 20px;
    border-radius: 5px;
}

.single-testimonial h4 {
    margin-top: 15px;
    margin-bottom: 3px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.single-testimonial .desg {
    font-size: 14px;
    font-style: italic;
}
	





/* ----------------------------------------------------------------------------------------
*                                   13. News area css
* --------------------------------------------------------------------------------------- */

.news-content {
    padding: 15px 0px;
}

.news-image img {
    width: 100%;
}

.news-content .subtitle {
    text-transform: inherit;
    line-height: 20px;
	margin-bottom: 10px;
}

.news-content .subtitle i.fa {
    color: #82b541;
}

.news-content .btn {
    margin-top: 10px;
}

.news-meta {
    display: block;
    clear: both;
    overflow: hidden;
    margin-bottom: 15px;
	color: #0f8bcf
}

.news-meta span {
    float: left;
    margin-right: 15px;
}
.news-meta span i.fa {
    margin-right: 4px;
}

.news-content .button {
    color: #333;
	text-transform: uppercase;
}


/* ----------------------------------------------------------------------------------------
*                                   14. Client area css
* --------------------------------------------------------------------------------------- */

.owl-client .item img {
    width: auto;
    max-width: 100%;
}

.client-area {
    background: #f5f5f5;
}

.owl-client .item {
    
    margin-right: 10px;
}


/* ----------------------------------------------------------------------------------------
*                                   15. Contact area css
* --------------------------------------------------------------------------------------- */

.form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
}

.form-control:focus {
    border-color: #000;
    outline: 0;
    box-shadow: none;
}

.contact-form .form-group {
    position: relative;
    border: 1px solid #bbb;
    margin-bottom: 30px;
}

.contact-form .form-group:before {
    position: absolute;
    height: 45px;
    font-family: FontAwesome;
    top: 0;
    left: 0;
    width: 20px;
    text-align: center;
    line-height: 45px;
    color: #82b541;
    font-size: 18px;
}

.contact-form #message {
    padding-top: 10px;
    height: 150px;
}

#submitButton {}

.success {
    background: #fff none repeat scroll 0 0;
    color: #50B948;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

.error {
    background: #fff none repeat scroll 0 0;
    color: #ff0000;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

.address-box {
    margin-bottom: 15px;
    padding-left: 50px;
}

.address-box i.fa {
    color: #82b541;
    font-size: 20px;
    line-height: 30px;
    float: left;
    width: 40px;
    text-align: center;
    margin-left: -50px;
}

.address-box p, .address-box p a {
    color: inherit;
    margin: 0;
}

.contact-info {
    text-align: center;
    margin-bottom: 50px;
}

.contact-info i.fa {
    color: #0f8bcf;
    font-size: 30px;
    position: relative;
    margin-bottom: 20px;
}


.contact-info a {
    color: inherit;
}

/* ----------------------------------------------------------------------------------------
*                                   16. Google Map area css
* --------------------------------------------------------------------------------------- */

#contactgoogleMap {
    width: 100%;
    height: 400px;
}



/* ----------------------------------------------------------------------------------------
*                                   17. Footer area css
* --------------------------------------------------------------------------------------- */
.footer-area {
    padding: 30px 0px;
    background: #0f8bcf;
    color: #fff;
    font-size: 14px;
}

.copy-right p { 
    margin: 0px;
}


/* ----------------------------------------------------------------------------------------
*                                   18. Scroll-to-top area css
* --------------------------------------------------------------------------------------- */

#scroll-to-top{
    background-color: #333;
    display: none;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    color: #fff;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 999;
}

#scroll-to-top:hover{
    background-color: #0f8bcf;
    color: #fff;
}